html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  text-decoration: underline;
  color: lightgrey;
}
p {
  font-family: 'Droid Sans', sans-serif;
}
/* colors */
.intro h1 {
  color: white;
  font-size: 1.5rem;
}

.intro p {
  color: white;
  font-size: 1rem;
}

.abouttext {
  background: #e67e22;
  padding: 50px 15px;
}


header {
  background: #d35400;
  width: 100%;
  padding: 5px 0px;
}

.logo {
  display: block;
  text-align: center;
  background: #f39c12;
  padding: 40px 0;
  width: 80%;
  margin: 0 auto;
}

nav {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

nav ul li {
  text-align: center;
  list-style: none;
  margin: 5px 0;
  background: #e67e22;
  padding: 15px;
  border: 2px solid #d35400;
  border-radius: 5px;
}

li a {
  text-decoration: none;
  color: #000;
  padding: 10px 30px;
}

 li:hover {
  background: #f39c12;
}

.feature-image {
  display:block;
  background-image:
linear-gradient(
rgba(205, 42, 4, 0.5),
rgba(205, 42, 4, 0.5)
),
url(../images/featurecopy.jpg);
background-size: cover;
height: 100vh;
width: 100%;
background-position: center;
position: relative;
}


.intro {
  position: absolute;
  top: 30%;
  left: 60%;
}

.introbutton {
  background: #f39c12;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 12px;
  color: black;
  text-decoration: none;
}

.description {
  max-width: 90%;
  margin: 35px auto;
  text-align: justify;
}


.about {
  max-width: 100%;
  text-align: center;
  background: #d35400;
  padding: 80px 0;
}

.about > h2 {
  font-size: 2rem;
  padding: 20px;
}

.about > p {
  padding: 20px;
  text-align: center;

}

.aboutimage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #e67e22;
}


.gallery {
  max-width: 100%;
  text-align: center;
  background: #e67e22;
}

.gallery img {
  display: inline-block;
  width: 45%;
  margin-top: 20px;
}

.contact {
  background: #f39c12;
  text-align: center;
  padding: 20px 50px;
}

.contacth {
  margin-bottom: 20px;
}

form input,
form textarea {
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 30px;
  background: #d35400;
}

@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {

        .logo {
          width: 100%;
        }

        nav ul li{
          display:inline-block;
          text-align: center;
          padding: 10px;
          margin-right: 25px;
        }

        nav ul {
          text-align: center;
          white-space:nowrap
        }

        .intro > p {
          font-size: 1.5rem;
        }

        .about {
          height: auto;
          overflow: auto;
          max-width: 100%;
          margin: 0 auto;
        }

        .about > p {

        }
        .imagediv {
          float: left;
          width: 46%;
          height: 200px;
          margin-top: 5%;


        }

        .abouttext {
        float: right;
        width: 46%;
        height: 200px;
        padding-top: 20px;
        margin: 5% 2%;
        padding-right: 20px;
        }


}

/* Desktop view */

@media only screen and (min-width: 1024px) {
  nav {
    position: absolute;
    top: 8%;
    right: 5%;
    z-index: 2;
    float: left;
  }
  .logo {
    position: absolute;
    top: 6%;
    left: 5%;
    z-index:2;
    width: 15%;
  }

  .intro > p {
    font-size: 2rem;
  }

  .intro > h1 {
    font-size: 3rem;
  }


}
